@page "/"
@inject HttpClient HttpClient

<div class="row">
    <div class="box left @(SelectedPost != null ? "col-6" : "")">
        @if (Subreddit == null)
        {
            <p>Loading posts from @(Subname)...</p>
        }
        else
        {
            foreach (var post in Subreddit.Posts)
            {
                <PostDisplay Post="post" OnChosen="() => ChosenPost(post)" />
            }
        }
    </div>
    @if (SelectedPost != null)
    {
        <div class="box right col-6">
            <h2>@SelectedPost.Title</h2>
            @if (SelectedPost.Comments?.Length > 0)
            {
                <p>There are comments?</p>
            }
            else
            {
                <p>Loading Comments...</p>
            }
        </div>
    }
</div>

@functions {
    private Subreddit Subreddit { get; set; }

    private int Page { get; set; }

    private Post SelectedPost { get; set; }

    private string Subname { get; set; } = "All";

    protected async override Task OnInitAsync()
    {
        Subreddit = await HttpClient.GetJsonAsync<Subreddit>("api/Subreddit/All");
    }

    void ChosenPost(Post post)
    {
        SelectedPost = post;
        StateHasChanged();
    }
}